<h1>Admin &raquo; Dashboard</h1>
<br>
<br>
<div class="panel panel-default products">

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= link_to "Total Number of Products", "/admin/products" %></th>
      <th><%= link_to "Total Number of Categories", "/admin/categories" %></th>
    </tr>
  </thead>
  <tbody>
  <td><%= @products_number %></td>
  <td><%= @categories_number %></td>
</tbody>
</table>

</div>